name: "ILEO Scraper"
version: "1.12"
slug: "ileo_scraper"
description: "Scraper de consommation d'eau ILEO avec envoi MQTT"
#url: "https://github.com/pbranly/ILEO-home-assistant-scraper"

arch:
  - aarch64
  - amd64
  - armv7
  - armhf

startup: application
init: false

# Accès API Supervisor
hassio_api: true
hassio_role: default

# Récupération auto du service MQTT
services:
  - mqtt:want

build_from:
  aarch64: "ghcr.io/home-assistant/base-python:3.11"
  amd64: "ghcr.io/home-assistant/base-python:3.11"
  armv7: "ghcr.io/home-assistant/base-python:3.11"
  armhf: "ghcr.io/home-assistant/base-python:3.11"

# Options utilisateur
options:
  ileo_username: ""
  ileo_password: ""
  mqtt_topic: "ileo/consommation"
  frequency: 240 # Par défaut : 240 minutes (4 heures)

schema:
  ileo_username: str
  ileo_password: str
  mqtt_topic: str
  frequency: int # On attend un nombre entier

map:
  - config
  - ssl
  - share